.cardMaster {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-right: 0.5%;
	margin-left: 0.5%;
}

.namaDokter {
	left: 3%;
	position: absolute;
	top: 5%;
}

.titleCard {
	font-size: 17px;
	margin-left: 2%;
}

.btnChat{
	position: absolute;
	width: 15%;
	bottom: 22%;
	right: 5%;
}

.btnJanji{
	position: absolute;
	width: 15%;
	bottom: 5%;
	right: 5%;
}

.btnDetail{
	position: absolute;
	width: 50%;
	bottom: 5%;
	left: 7%;
}



.pengalamanDokter {
	margin-left:7%;
	font-size: 15px;
}

.listRS {
	margin-left:7%;
	margin-top: 3%;
	font-size: 15px;
}

.doctorImage {
	display: block;
	width: 120px;
	height: 120px;
	position: absolute;
	top: 5%;
	right: 5%;
	object-fit: cover;
	border-radius: 50%;
}

